$midnight-blue: #081B2B;
$light-sea-green: #189BAC;

@font-face{
  font-family: TravelingTypewriter;
  src: url('/font/TravelingTypewriter.ttf'), url('/font/TravelingTypewriter.otf');
}

body {
  background-color: $midnight-blue - 28;
  color: white;
  margin: 0;
  padding: 0;
  font-family: TravelingTypewriter, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 4em;
  margin: 0 0 12px 0;
}

a {
  // color: $light-sea-green;
  color: white;
  font-weight: none;
  text-decoration: none;
}

a:link, a:visited {
  // color:$light-sea-green;
  color: white;
  font-weight: bold;
}

.grid {
  margin: 0 1em;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1px;
  .grid__item {
    grid-row-end: span var(--row-span, 20);
  }
  img {
    width: 100%;
  }
  .cover {
    height: 100%;
    object-fit: cover;
  }
}

$traits-width: 380px;
$profile-picture-width: 325px;
$desktop-width: ($traits-width + $profile-picture-width);
$desktop-width-even: (($traits-width + $profile-picture-width) / 2);

section#header {
  .container {
    display: grid;
    grid-template-columns: $traits-width $profile-picture-width;
    grid-template-rows: auto auto;
    grid-template-areas:
    "header header"
    "traits profile-picture"
    "quote quote";
    justify-content: center;
    align-content: start;
    background-image: url("/background/stargazing.jpg");
    background-size: cover;
    height: 900px;

    h1 {
      font-size: 98px;
      margin-bottom: 20px;
    }

    ul {
      margin-left: 0;
      padding-left: 0;
      li {
        list-style-type: none;
        font-size: 40px;
      }
    }

    .header {
      grid-area: header;
      text-align: center;
    }
    .traits {
      grid-area: traits;
    }
    .profile-picture {
      grid-area: profile-picture;
      text-align: right;
      img {
        width: 300px;
      }
    }
    .quote {
      grid-area: quote;
      p {
        margin: 20px 3em 20px 3em;
        &.quoter {
          text-align: right;
        }
      }
    }

  }
}

section#showreel {
  background-image: url("/background/greenarrow-parkinglot.jpg");
  background-attachment: fixed;
  height: 470px;
  padding-top: 3em;
  .vimeo {
    display: grid;
    grid-template-columns: $desktop-width;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow: hidden;
    padding-top: 24.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}
$footer-background-size: 480px;
$footer-background-size-x: 2048px / 1.6;
$footer-background-size-y: 652px / 1.6;

section#footer {
  background-color: #000000;
  background-image: url("/background/darkStalker.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: $footer-background-size-x $footer-background-size-y;
  background-position-x: 400px;
  // background-size: cover;
  // background-scale: 50%;
  display: grid;
  // grid-template-columns: repeat(2, $desktop-width-even);
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 4em;
  justify-content: center;
  align-content: space-evenly;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      font-size: 20px;
    }
  }
  h3 {
    border-bottom: solid 2px white;
    margin-top: 2em;
    padding: 0;
    font-size: 24px;
  }
  // ul, h3 {
  //   font-size: 24px;
  // }
  div {
    min-width: 176px;
    height: $footer-background-size-y;
    // padding: 3em 1em auto 1em;
  }
}

section#gallery {
  margin: 1em 0 2em 0;
}
