<!DOCTYPE html>
<html lang="fi">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175349552-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175349552-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ $styles := resources.Get "sass/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Jesse Liskola</title>
  </head>
  <body>

    <section id="header">
      <div class="container">
        <div class="header"><h1>Jesse Liskola</h1></div>
        <div class="traits">
          <ul>
            {{ range .Params.traits }}
            <li>{{ . | upper }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="profile-picture">
          <img src="/profile.jpg" alt="Jesse Liskola's profile picture">
          <!-- <img src="/profile1.jpg" alt="Jesse Liskola's profile picture"> -->
        </div>
        <div class="quote">
          <p>{{ .Content }}</p>
          <p class="quoter"> - {{ .Params.quote | upper }}<br>{{ .Params.quoterTitle | upper }}</p>
        </div>
      </div>
    </section>

    <section id="showreel">
        <div class="vimeo">
        <iframe src="https://player.vimeo.com/video/178330969" allow="autoplay; fullscreen" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </section>

    {{ $iconSize := 40 }}
    <section id="footer">
        <div class="contact">
          <h3>Contact</h3>
          <ul>
            <li><img src="/icons/phone-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}" alt=""><strong>+358 405120933</strong></li>
            <li><img src="/icons/email-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}" alt=""><a href="mailto:j.liskola@gmail.com">j.liskola@gmail.com</a></li>
          </ul>
        </div>
        <div class="referrals">
          <h3>Referrals</h3>
          <ul>
            <li><a href="https://www.imdb.com/name/nm4371508/"><img src="/icons/imdb-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}" style="vertical-align: middle;">IMDB</a></li>
            <li><a href="https://www.instagram.com/jliskola/?hl=fi"><img src="/icons/instagram-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/jesse-liskola-20b4601b2/"><img src="/icons/linkedin-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}">Linkedin</a></li>
            <li><a href="https://www.facebook.com/jesse.liskola"><img src="/icons/facebook-on.svg" height="{{ $iconSize }}" width="{{ $iconSize }}">Facebook</a></li>
            <li><a href="https://resume.io/r/D57VBpBZh"><img src="/icons/cv-on.svg" height="{{ $iconSize }}" width="{{  $iconSize }}" alt="">CV</a></li>
          </ul>
      </div>
    </section>

    <section id="gallery">
      <div class="grid" data-images="{{ range readDir `/static/gallery/` }}{{ .Name }} {{ end }}"></div>
    </section>

    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/masonry.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
        });
      }
    </script>

  </body>
</html>
