<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ $styles := resources.Get "sass/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Jesse Liskola</title>
  </head>
  <body>

    <section id="header">
      <div class="container">
        <div class="header"><h1>Jesse Liskola</h1></div>
        <div class="traits">
          <ul>
            {{ range .Params.traits }}
            <li>{{ . | upper }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="profile-picture">
          <img src="/profile.jpg" alt="Jesse Liskola's profile picture">
          <!-- <img src="/profile1.jpg" alt="Jesse Liskola's profile picture"> -->
        </div>
        <div class="quote">
          <p>{{ .Content }}</p>
          <p class="quoter"> - {{ .Params.quote | upper }}<br>{{ .Params.quoterTitle | upper }}</p>
        </div>
      </div>
    </section>

    <section id="showreel">
        <div class="vimeo">
        <iframe src="https://player.vimeo.com/video/178330969" allow="autoplay; fullscreen" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </section>

    <section id="footer">
        <div class="contact">
          <h3>Contact</h3>
          <ul>
            <li>+358 405120933</li>
            <li><a href="mailto:j.liskola@gmail.com">j.liskola@gmail.com</a></li>
          </ul>
        </div>
        <div class="referrals">
          <h3>Referrals</h3>
          <ul>
            <li><a href="https://resume.io/r/D57VBpBZh">CV</a></li>
            <li><a href="https://www.imdb.com/name/nm4371508/">IMDB</a></li>
            <li><a href="https://www.instagram.com/jliskola/?hl=fi">Instagram</a></li>
          </ul>
      </div>
    </section>

    <section id="gallery">
      <div class="grid" data-images="{{ range readDir `/static/gallery/` }}{{ .Name }} {{ end }}"></div>
    </section>

    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/masonry.js"></script>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
        });
      }
    </script>

  </body>
</html>
