<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $styles := resources.Get "sass/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="all">
    <title>Jesse Liskola</title>
  </head>
  <body>
    <div class="max-width">
      <div class="container">
        <header class="header"><img src="logoFull.png" alt=""></header>
        <main class="main">
          <em>"{{ .Description }}"</em>
          <div class="center">
            <img src="who.jpg" class="sm" alt="Jesse Liskola's profile picture">
          </div>
          {{ .Content }}
        </main>
        <div class="footer">
          <iframe src="https://player.vimeo.com/video/178330969" width="640" height="360" frameborder="0" style="border: solid 2px white;" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <div class="profile">
          <img class="md" src="who.jpg" alt="Jesse Liskola's profile picture">
          <nav>
            <ul>
              <li><a href="https://resume.io/r/D57VBpBZh">CV</a></li>
              <li><a href="https://www.imdb.com/name/nm4371508/">IMDB</a></li>
              <li><a href="https://www.instagram.com/jliskola/?hl=fi">Instagram</a></li>
            </ul>
          </nav>
        </div>
        <!-- <nav class="nav"></nav> -->
      </div>
    </div>
  </body>
</html>
